<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= best_in_place @specialization, :title %>
</p>

<p>
  <strong>Description:</strong>
  <%= best_in_place @specialization, :description, as: :textarea %>
</p>
