<li>
	<%= link_to "#{author.name}", author_path(author) %>
	<ul>
		<% sorted_plays = author.plays.sort {|a, b| a.title <=> b.title } %>
			<% sorted_plays.each do |play| %>
				<% if play.canonical %>
					<li><%= link_to "#{play.title}", play_path(play) %></li>
				<% end %>
			<% end %>
		</ul>
	</li>