<table border = "1">
  <tr><td></td>
    <% @french_scenes.each do |french_scene| %>
      <td>
        <%= french_scene.pretty_name %>
      </td>
    <% end %>
  </tr>
  <% @actors.each do |actor| %>
    <tr>
      <td>
        <%= actor.name %>
        <% user_doubling_problems = FindDoublingProblems.new(actor, @production).run %>
      </td>
          <% @french_scenes.each do |fs| %>
            <% if user_doubling_problems.include?(fs) %>
              <td bgcolor = "red">
            <% else %>
              <td>
            <% end %>
            <% if actor.french_scenes_for_production(@production).has_key?(fs) %>
              <%= actor.french_scenes_for_production(@production)[fs].map(&:name).join(", ") %>
            <% end %>
            </td>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
