<table border="1" class="table table-striped">
  <tr>
    <td></td>
    <% @french_scenes.each do |french_scene| %>
      <td>
        <%= link_to "#{french_scene.pretty_name}", french_scene %>
      </td>
    <% end %>
  </tr>
  <% @actors.each do |actor| %>
    <tr>
      <td>
        <%= actor.name %>
      </td>
      <% @french_scenes.each do |fs| %>
        <% if actor.french_scenes_for_production(@production)[fs].size > 1 %>
          <td bgcolor="red">
          <% else %>
            <td>
            <% end %>
            <% if actor.french_scenes_for_production(@production).has_key?(fs) %>
              <%= actor.french_scenes_for_production(@production)[fs].join(", ") %>
            <% end %>
          </td>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>